<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>UPLOAD PAGE</title>
  </head>
  <body>
  <div class= "py-5 text-center bg-secondary text-green">
<h1>UPLOAD YOUR HOMEWORK HERE</h1>
  <div class="container">
  <form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form}}
     <input type="submit" class="btn btn-danger" value="UPLOAD">
    </form>
    </div>
    </div>
<Center>
<H2>Made and Designed by Anshumaan:--@stark</H2>
  <Br>
<a href="https://youtube.com/channel/UCQQm-n6X2750raKsZ1j6Svw">check on YouTube</a>


</body>
</html>
